body {
	font-size: 0.12rem;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	background: #f3f3f3;
}
header{
	position: relative;
	.banner{
		img{
			width: 100%;
			height: 1.4rem;
		}
	}
	.iconfont{
		display: inline-block;
		width: .32rem;
		height: .32rem;
		line-height: .32rem;
		text-align: center;
		background: #fff;
		color: #3B3B3B;
		border-radius: 50%;
		position: absolute;
		top: .18rem;
		font-size: .2rem;
		z-index: 9999;
	}
	.left{
		left: 5%;
	}
	.right{
		right: 5%;
	}
	input{
		position: absolute;
		left: 0;
		top: .18rem;
		right: 0;
		margin: auto;
		z-index: 9999;
		width: 60%;
		height: .3rem;
		line-height: .3rem;
		border: none;
		border-radius: 20px;
		padding-left: 5%;
		&::-webkit-input-placeholder{
			color: #555;
			font-size: .13rem;
		}
	}
}
main{
	-webkit-flex: 1;
	overflow-y: scroll;
	ul{
		padding-left: .1rem;
		padding-right: .1rem;
		padding-top: .08rem;
		padding-bottom: .01rem;
		background: #fff;
		li{
			margin-bottom: .08rem;
			display: flex;
			div{
				flex: 1;
				text-align: center;
				color: #fff;
			}
			.list-left{
				height: .91rem;
				padding-top: .22rem;
				
				margin: .01rem;
				.iconfont{
					font-size: .4rem;
				}
				p{
					margin-top: .1rem;
					font-size: .16rem;
				}
			}
			.list-cen,.list-right{
				p{
					height: .56rem;
					line-height: .56rem;
					margin: .01rem;	
					font-size: .14rem;				
				}
			}
		}
		.li1{
			.list-left{
				background: #FF5555;
			}
			.list-cen,.list-right{
				p{
					background: #FF5555;
				}
			}
		}
		.li2{
			.list-left{
				background: #03A9F5;
			}
			.list-cen,.list-right{
				p{
					background: #03A9F5;
				}
			}
		}
		.li3{
			.list-left{
				background: #7EB53D;
			}
			.list-cen,.list-right{
				p{
					background: #7EB53D;
				}
			}
		}
		.li4{
			display: flex;
			p{	
				flex: 1;
				text-align: center;
				background: #FF9801;
				color: #fff;		
				height: .56rem;
				line-height: .56rem;
				margin: .01rem;
				font-size: .14rem;
			}
		}
	}
}
footer{
	padding-top: .08rem;
	padding-bottom: .08rem;
	display: flex;
	background: #fff;
	border-top: 1px solid #BCBCBC;
	a{
		flex: 1;
		text-align: center;
		color: #5F5F5F;	
		.iconfont{
			font-size: .25rem;	
		}
	}
	.a1{
		color: #01BFD5;
	}
}

.swiper-container .swiper-pagination-bullet-active {
    background-color: #f3f3f3;
}